{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h1 class="text-center mb-4">About HUSH BREW</h1>
  <p>At Hush Brew, coffee is more than just a drink — it’s an experience, a ritual, and a moment of comfort in the midst of a busy day.

We are passionate about brewing the perfect cup, every single time. From the early morning rush to the slow, thoughtful sips of an evening espresso, we believe that every cup of coffee tells a story. That’s why we take great pride in sourcing only the finest, ethically-grown beans from trusted farms around the world. 
Whether you prefer a bold and intense espresso, a creamy cappuccino, a chilled cold brew, or something uniquely yours — we’ve got something to delight every taste.
Great coffee isn’t rushed — it’s brewed with heart. ❤️</p>
</div>

<div class="container mt-5">
  

  <div class="timeline mb-5">
    <h4 class="text-center mb-4">Our Journey</h4>
    
      <p class="text-center mb-3"> 2021 - Founded with love for coffee.</p>
      <p class="text-center mb-3"> 2022 - Expanded our menu to include over 20 blends.</p>
      <p class="text-center mb-3"> 2023 - Opened our second store.</p>
      <p class="text-center mb-3"> 2024 - Launched HUSH BREW online ordering.</p>
    
  </div>

  <div class="team">
    <h4 class="text-center mb-4">Meet Our Team</h4>
    <div class="row text-center">
      <div class="col-md-4">
        
        👤<h6>Lena Margret Shojo </h6>
        <h6>Nayan Maria Shojo</h6>
        <p>Founders</p>
      </div>
      <div class="col-md-4">
        
        👤<h6>Ethan Clarke</h6>
        <p>Operations Manager</p>
      </div>
      <div class="col-md-4">
        
        👤<h6>Natalie Brooks</h6>
        <p>Product Designer</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}